#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  height: 100dvh;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
